.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 12.5px 24px 12.5px 24px;
  gap: 8px;
  border-radius: 8px;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.5px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-width: 0;
  cursor: pointer;
  text-transform: capitalize;
  flex: 1 1 100%;
}

.button.secondary {
  background-color: #f2f5ff;
  color: #395bd3;
}
.button.secondary:hover {
  background-color: #dadbdd;
}

.button.primary {
  background-color: #395bd3;
  color: #ffffff;
}
.button.primary:hover {
  background-color: blue;
  color: #ffffff;
}
.button.danger {
  background-color: #FF3093;
  color: #ffffff;
}
.button.danger:hover {
  background-color: #ff3094ce;
  color: #ffffff;
}
