.task-form .task-form-footer {
  display: flex;
  justify-content: space-between;
}
.task-form .form-title {
  font-family: Quicksand;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: capitalize;
}
