@import './styles/master.css';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ebeffe;
}

.container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 24px;
  padding: 16px;
}

.sidebar {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 260px;
  /* height: 728px; */
  padding: 32px;
  gap: 24px;
  border-radius: 16px;
  opacity: 0px;
}

.sidebar h2 {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.sidebar h3 {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.sidebar label {
  display: block;
  margin: 8px 0;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 196px;
  height: 24px;
  gap: 8px;
}

.main-content {
  flex: 1 1;
}

header {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  background-color: #ffffff;
  height: calc(104px - 32px);
  border-radius: 16px;
  padding: 32px;
}

header h1 {
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

header .new-task {
  display: flex;
  font-family: Quicksand;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: #395bd3;
  width: 145px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 50px;
  opacity: 0px;
  color: #ffffff;
  border-width: 0;
}

.new-task span {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.new-task:hover span {
  display: none;
}

.new-task:hover {
  background-color: #0056b3;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 100%;
}

/* Task list */
.task-list {
  display: grid;
  gap: 16px;
}

.task {
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: calc(100% - 24px - 24px);
  height: 95px;
  padding: 16px 24px 16px 24px;
  gap: 0px;
  border-radius: 16px;
  opacity: 0px;
}

.task h3 {
  position: relative;
  margin: 0;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.tags {
  display: flex;
  gap: 10px;
}

.actions {
  display: flex;
  align-items: center;
}

.actions .status {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.85rem;
  margin-right: 8px;
}

.actions .completed {
  background-color: #d4edda;
  color: #155724;
}

.actions .edit,
.actions .delete {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 8px;
}

.actions .edit:hover {
  color: #007bff;
}

.actions .delete:hover {
  color: #dc3545;
}

.floating-label {
  color: #8385af;
  background-color: white;
  padding: 0 5px;
  position: absolute;
  left: 12px;
  top: -7px;
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: capitalize;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  font-weight: 600;
}

.main-content .status-select {
  background-color: #e1ffde;
  width: 108px;
  height: 30px;
  padding: 6px 8px 6px 8px;
  gap: 4px;
  border-radius: 8px;
  border-width: 0;
  text-transform: capitalize;
}

.status-select[aria-label='completed'] {
  color: #0a7900;
}
.status-select[aria-label='incomplete'] {
  color: #ff6b00;
}

.status-select option {
  color: black;
  content: '8 ';
}

.description-tooltip {
  position: absolute;
  display: none;
  background-color: #0c1049ee;
  color: #fff;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  max-width: 300px;
  width: fit-content;
  line-height: 17.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 12px;
  border-radius: 4px;
  top: 10px;
  text-overflow: ellipsis; /* Show ellipsis for truncated text */

  white-space: normal;
  overflow-wrap: break-word;
}

.task h3:hover .description-tooltip {
  display: block;
}
